[2016-12-01 10:06] kyoukhana opened #1 "authorization headers not working"
If I set a common header it isn't working for some reason here is the code below.

[code]

Here is the update user method
[code]

[2016-12-01 10:59] imcvampire commented on #1
Do you try to replace `this` with `Vue`. I'm using this function and everything is fine:

[code]

[2016-12-01 11:38] kyoukhana commented on #1
here is how i have my project set up.

[code]

[2016-12-01 12:38] kyoukhana commented on #1
I also tried it like this

[code]

This line fires

[code]
But doesn't pass then token header

[2016-12-01 13:41] imcvampire commented on #1
Could you give a working demo ?

[2016-12-01 14:04] kyoukhana commented on #1
So a working demo is that this code works.  But it doesn't require a token to be passed

[code]

[2016-12-01 14:14] imcvampire commented on #1
No, what I want is a full project working code. Your code given to me is too confused.

[2016-12-01 14:15] kyoukhana commented on #1
i can give you access to the repo hang on

[2016-12-01 14:17] kyoukhana commented on #1
When you pull the project navigate to

/resources/assets/js/components/views/users/account/profile.vue

[2016-12-01 14:20] imcvampire commented on #1
OK. Give me some time!

[2016-12-01 14:22] imcvampire commented on #1
Sorry! But I can't find any code using my wrapper in your file.

[2016-12-02 04:00] kyoukhana commented on #1
So if you navigate here
/resources/assets/js/components/views/users/account/profile.vue  line 149

resources/assets/js/app.js  your libraries are included in there

[2016-12-02 10:18] kyoukhana commented on #1
You might have to do a pull.

[2016-12-02 11:15] kyoukhana commented on #1
I even tried it like this
[code]

[2016-12-02 12:38] kyoukhana commented on #1
in vue-resource it works here is the code for that

[code]

[2017-01-23 18:53] zodman opened #2 "how configure axios the global way!"

[2017-01-27 11:41] imcvampire commented on #2
You can use something like
[code]

You can see global config in here: https://github.com/mzabriskie/axios#global-axios-defaults

[2017-01-27 11:41] #2 closed

[2017-01-27 11:42] #1 closed

[2017-02-22 13:54] justinyoo opened #4 "Type definition?"
Hi,

Thanks for this library. I really appreciate it. Just wonder if you can provide us with type definition, please?

Cheers,

[2017-02-22 13:56] imcvampire commented on #4
I'm sorry, I can't catch your idea about type definition. Do you mean using somethings like Flow???

[2017-02-22 13:59] justinyoo commented on #4
I mean, like `vue-axios.d.ts`. I tried to generate a `.d.ts` file by myself using [dts-gen](https://github.com/Microsoft/dts-gen), but didn't work.

[2017-02-22 14:08] imcvampire commented on #4
Right now, I don't have a good knowledge about TypeScript! But I will try my best to deliver it ASAP.

And would you mind helping me provide it?

[2017-02-26 10:22] jesperlandberg opened #5 "Accessing second lvl data?"
Hi,

Unsure if this is related to vue-axios or not but here we go:
I am not able to access second lvl data for some reason "Cannot read property ... of undefined"

My code looks like the following:

[code]
And the json i'm accessing like this:

[code]

Any idea? project.title works fine, but not project.next.slug for example.

[2017-02-26 14:07] imcvampire commented on #5
Can you post full of error?

[2017-02-26 19:43] jesperlandberg commented on #5
@imcvampire sure.

it looks like this: https://puu.sh/ul2Xv/338adcd1cd.png

[2017-02-27 04:11] imcvampire commented on #5
I think you are facing a problem when accessing some property in `<template>`. Error throws in `render` method.

[2017-03-04 06:51] ankitrg opened #6 "How can I configure headers to send CSRF token?"
I am trying to make a post call but due to token csrf protection, the calls fail. I can send csrf token with each call, but I want to configure it at global level.

[2017-03-04 10:08] Pitu opened #7 "Can't set global headers."
To use a global header on each Axios request one would normally use something like this:
[code]
But this is not working with Vue, at least for me. Trying to set the global token by using either `this.axios` or `Vue.axios` gives the same result which is the header not being sent at all. Related to #1 as well.

Any ideas?

[2017-03-06 10:11] imcvampire commented on #6
You can try:
[code]

[2017-03-06 10:13] imcvampire commented on #7
This is what I use in my production code and it works like charm
[code]

[2017-03-06 10:13] imcvampire commented on #5
Close because of no more infomation

[2017-03-06 10:13] #5 closed

[2017-03-16 01:25] jpfong opened #8 "Is it possible to have multiple instance of Axios?"
I want to use one instance with interceptors for token and one without.

Otherwise, is there a better way to do this?

[2017-03-17 07:00] Pitu commented on #7
Where are you setting this if I may ask?

[2017-03-17 07:14] imcvampire commented on #7
In my store (using vuex). Because I have to set token when user logins.

[2017-03-17 07:58] Pitu commented on #7
Thanks for this, it helped a lot!

[2017-03-17 07:58] #7 closed

[2017-03-30 18:01] johnathankent commented on #4
@justinyoo, @imcvampire
Axios already provides it: https://github.com/mzabriskie/axios#typescript

[2017-04-24 06:55] hojit commented on #6
Vue.axios.defaults.headers.common['Authorization'] = AUTH_TOKEN
这个设置好像是无效的。

[2017-04-24 07:39] awtmeng opened #9 "直接下下来运行，报20个错误，是我这边环境的问题吗？"
(unknown) [Vue warn]: Unknown custom element: <router-link> - did you register the component correctly? For recursive components, make sure to provide the "name" option.
(found in <VNav> at D:\my_fe\xyy-vue-master\xyy-vue-master\src\components\nav.vue)warn
(unknown) [Vue warn]: Unknown custom element: <router-link> - did you register the component correctly? For recursive components, make sure to

[2017-05-02 04:12] StevenYuysy commented on #9
It's obvious that is your own problem, check your code plz.
---
很明显这个仓库和你的报错没有关系，检查一下你的代码
- `nav.vue` `travelList.vue`，这里你没有正确的注册组件，
- `tabar.vue` `sidebar.vue` ，检查一下哪些对象引用了 `path` ，这些对象是不是  `undefined`

[2017-05-03 11:28] aswinkp opened #10 "Abort request from vue-axios"
I saw the cancellation feature for the Axios. But I am not able to cancel in vue-axios.
Is there any way that I could cancel all the API requests in the current component from beforeDestroy().

Hint: I am using Vue.axios.get() inside vue method that is triggered from created().

[2017-05-14 21:57] s-KaiNet commented on #4
As quick workaround you can do
[code]
then in your folder with sources create file `vue-axios-shim.d.ts` and put below content inside:
[code]

[2017-05-20 18:00] shooke opened #11 "在使用post发送请求时有10%的几率会发送两次请求"
我在开发的过程中遇到了一个问题，当我执行这段代码的时候，他会有5%-10%的几率，额外发送一个options类型的请求。
[code]
发生额外请求时，用chrome查看是这样的

## General
Request URL:http://localhost/chapiaoling/api/index.php/wechat/bind
**Request Method:OPTIONS**
Status Code:200 OK
Remote Address:[::1]:80
Referrer Policy:no-referrer-when-downgrade
## Response Headers
HTTP/1.1 200 OK
Date: Sat, 20 May 2017 17:40:18 GMT
Server: Apache/2.4.23 (Win64) PHP/5.6.25
X-Pow

[2017-05-24 06:44] sc0Vu commented on #11
嗨
這個套件只是包覆原先這個[套件](https://github.com/mzabriskie/axios)
可以去那邊追蹤程式碼
不過你遇到的問題
先前使用vue-resource也有遇過
這看起來不是套件的問題
你可以參考這邊[文章](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests)
只要符合裡面的非簡易請求
都會先發option的請求確認跨站問題

[2017-05-24 06:49] sc0Vu commented on #10
Maybe you should see this: [link](https://github.com/mzabriskie/axios#cancellation)

Use CancelToken to stop request.

[2017-05-25 10:13] pexea12 commented on #11
你应该用英语说 我们不知道你在说什么

You should speak in English. We don't know what you are talking about.

[2017-06-05 09:43] shenopkss opened #12 "this.$http.post().then().catch()方法内this对象undefined"
[code]

[2017-06-06 08:38] imcvampire commented on #12
This isn't this plugin's bug. I think you should some basic concept about `this` in JS.

PS: You better use arrow function
[code]

[2017-06-06 08:38] #12 closed

[2017-06-06 08:38] #10 closed

[2017-06-06 08:38] #6 closed

[2017-06-06 08:38] #9 closed

[2017-07-02 04:43] seekcx commented on #11
这个是因为服务器使用的CORS来进行跨域，OPTIONS是非简单请求前的预检请求，如果服务器端响应了max-age，则在此期间不会再次发送预检请求。

http://www.ruanyifeng.com/blog/2016/04/cors.html

[2017-07-07 02:52] greenkeeper[bot] opened #13 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-07-07 03:04] greenkeeper[bot] opened #14 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-07-28 13:37] AkatQuas commented on #11
@pexea12
they are talking about why there being two requests sent when using `POST` request, and the reason is [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) control.
Kinda late since 4 months past, haha

[2017-09-12 08:26] imishx opened #15 "TypeError: Cannot read property 'get' of undefined"
TypeError: Cannot read property 'get' of undefined

[2017-09-24 02:19] robertorp commented on #15
TypeError: Cannot read property 'get' of undefined[2]

[2017-09-24 02:27] robertorp commented on #15
Resolved! Verify you context function!

[2017-09-24 03:45] #15 closed

[2017-10-24 17:09] decadehew opened #16 "Vue is not defined"
當我根據vue-axios指導方式去引用axios時
[code]
第一個Vue.axios就失敗顯示error
**Vue is not defined**

其他兩個沒問題！

有人和我一樣嗎？謝謝

[2017-10-27 06:47] imcvampire commented on #16
Do you `import` or `require` Vue?

[code]
or
[code]

[2017-10-28 17:30] gy18505 opened #17 "whhhat? only a 'get' method is available? what about 'post' 'update' and so on?"
for i just can see a 'get' method is wrapped in the script text.

[2017-10-29 10:15] imcvampire commented on #17
No. It wraps all `axios`'s things. You can try it with:``` Vue.axios.post()
this.axios.post()```

[2017-10-29 10:15] #17 closed

[2017-11-04 21:50] lee-joe commented on #16
你试着用
`
axios.get(api).then((response) => {
  console.log(response.data)
})
`

看看行不行

[2017-11-07 09:35] fengxuway opened #18 "the different between Vue.prototype and vue-axios?"
[code]
or
[code]

[2017-11-14 01:21] TDodgeCo commented on #16
@lee-joe I believe that since `vue-axios` is now part of the vue instance, you need to call it like so:

`this.axios.get(api).then(response => { console.log(response.data) })`

[2017-11-14 07:45] mastermunj commented on #18
From what I understand, the first block of code merely assigns axios instance to prototype.axios property whereas second block runs the VueAxios plugin with two parameters Vue & axios, inside there it sets axios to Vue global as well as at prototype level & $http to prototype level.

@imcvampire may add more if I've misunderstood any part here.

[2017-11-20 06:10] imcvampire commented on #18
It's mostly the same!

But in VueAxios, I use `Object.defineProperties` so it will make property `axios` and `$http` immutable!

[2017-11-20 06:10] #18 closed

[2017-11-20 06:11] #16 closed

[2017-11-21 06:34] seekcx opened #19 "this.axios.CancelToken undefined"
在vue组件中，这样获取CancelToken 是undefined，那应该怎么获取呢？

[2017-11-21 06:45] seekcx commented on #19
axios的问题，使用axios.create得到的实例没有CancelToken

[2017-11-21 06:45] #19 closed

[2017-11-29 09:47] vsorrokin opened #20 "Does library support SSR?"

[2017-11-29 10:05] imcvampire commented on #20
Yes!

[2017-11-29 10:05] #20 closed

[2017-12-13 16:03] jstzzz commented on #11
同求如何解决

[2018-01-24 17:28] asulta commented on #4
Typings is not necessary here.
Axios already provides typescript definitions in its bundle
As @s-KaiNet said, you can write your own definition:

[code]
I edited the definition to match the [docs](https://github.com/imcvampire/vue-axios#usage) :)

[2018-01-24 17:39] s-KaiNet commented on #4
Right, actually `typings install` is not needed anymore, because TS compiler now reads `package.json` and includes type definitions automatically. I've updated answer if anybody will refer.

[2018-01-25 03:56] imcvampire commented on #4
Thank @asulta and @s-KaiNet!!!

Can you create a new pull request update README and/or add some code provide typing if necessary!

[2018-01-25 09:02] asulta commented on #4
@s-KaiNet I can make a PR to add ts definitions, but I think that the only way to do that is to create a dev dependency to axios. Is that okay for you?

[2018-01-25 10:54] imcvampire commented on #4
@asulta I think we can add `axios` to `dependency` because this package can't work correctly without `axios`

[2018-02-11 09:22] hermann8u opened #22 "Namespace error on /api route"
Hi,

I wanted to test your work and got an error in DefaultController at line 91:
$apartments = $em->getRepository('App:Apartment')->findByLimit(10);

I fixed it by changing 'App:Apartment' by 'AppBundleApartment'

[2018-02-11 09:25] #22 closed

[2018-02-11 09:25] hermann8u commented on #22
Oh sorry, wrong repository

[2018-02-24 15:24] vivekpd15 opened #23 "Getting error: Attempting to change the getter of an unconfigurable property on including the plugin in vue2"
Able to run the app properly when I comment this out: Vue.use(VueAxios, axios);

Otherwise, it just shows up a white page. I am on Vue 2.5.13. Please help.

[2018-02-24 15:34] #23 closed

[2018-03-10 15:39] dunhuang commented on #11
跨域时，request的header的content-type设为'text/plain' , 发送的data必须为string类型（json数据用JSON.stringify()处理一下），即可解决这个问题。

when it is a CORS request, you should set content-type as 'text/plain' in the request' header, and request data body must be String type. There will be no OPTIONS request

demo:
[code]

[2018-03-25 22:30] s-KaiNet commented on #4
Hey guys, since PR was merged, can you please update the library to include definitions in npm?

[2018-03-26 06:37] imcvampire commented on #4
Hi @s-KaiNet, I deployed a new version (`2.1.0`)

[2018-03-26 06:37] #4 closed

[2018-03-27 12:53] olegshtch commented on #4
Will there some example with `vue-class-component`?

[2018-03-27 13:59] asulta commented on #4
I think that `vue-class-component` does not have effect on how we use `vue-axios`.

4 example:
[code]

I have not used `vue-class-component` for quite some time though, so I might be wrong.

[2018-03-29 22:59] Nomenator commented on #4
@imcvampire Strangely enough, when updating the package through npm, it gets the new package.json, but not the typescript definitions. Has to be shimmed in manually still (working in Visual Studio 2017, npm from command line).

[2018-03-30 05:42] s-KaiNet commented on #4
Yep, the same for me

[2018-03-31 02:49] imcvampire commented on #4
@s-KaiNet @s-KaiNet Sorry for the bug. I have published `2.1.1` to address it

[2018-04-03 13:26] lusess123 opened #24 "index.d.ts cause error"
node_modules/_vue-axios@2.1.1@vue-axios/index.d.ts(6,13): error TS2451: Cannot redeclare block-scoped variable 'Vue'.

[2018-04-04 07:09] imcvampire commented on #24
@asulta @s-KaiNet Can you help me resolve this problem?

[2018-04-04 07:37] s-KaiNet commented on #24
A quick fix will be adding ` "skipLibCheck": true,` into the `tsconfig.json`
For the long term we need to fix definition because it seems it's not compatible with the latest TS version.

[2018-04-18 14:43] olegshtch opened #25 "Can't import VueAxios in typescript"
I'm trying to use vue-axios in typescript project but get errors even on import:

[code]

Should consider VueAxios to be default export? Or there some other methods to import the plugin?

Versions:
vue-axios: 2.1.1
typescript: 2.8.1

tsconfig.json:
[code]

[2018-04-19 00:33] harishankards opened #26 "How to send CSRF tokens in request headers?"
Hi,

I'm using node express as my backend which uses [lusca](https://www.npmjs.com/package/lusca) to validate CSRF tokens.

Whenever I'm sending post requests like below, it throws `error: missing CSRF token`
[code]
How do I configure CSRF tokens?

[2018-04-19 09:26] AlexSayHello commented on #25
I've the same problem, using typescript 2.8.1 with webpack and `ts-loader`

tsconfig.json:

[code]

 maybe you should change the export line for the type definition.

[code]

[2018-04-27 14:16] olegshtch commented on #25
Same for `typescript: 2.8.3` and `target: es6`.

[2018-04-28 08:30] olegshtch commented on #25
Yep, it allows to import VueAxios.

[code]

But looks like property `axios` wasn't added to `Vue` type from `'vue'`, but I'm not sure how to import `Vue` type from `'vue-axios'`.

[2018-05-04 10:06] andrewshengilevych commented on #26
@harishankards

Inside the laravel framework, we can saw the next string:

[code]
Maybe it will help you to solve your problem?

[2018-05-07 09:18] harishankards opened #27 "How to set headers for delete request?"
Hi,
I'm trying to perform a delete request with your package, but could not set it.
[code]

[2018-05-08 05:47] harishankards commented on #27
Found the solution myself.

[code]
Works

[2018-05-08 05:47] #27 closed

[2018-05-10 22:53] fabioebner opened #28 "It's possible to use 2 instances?"
It's possible to use 2 instances from vue-axios, each one with a diff this.axios.defaults.baseURL ?

how ?

tks

[2018-05-14 12:17] Vilvarin commented on #8
This code should work:
[code]

[2018-05-14 12:32] Vilvarin commented on #28
This code should work:

let firstInstance = axios.create()
let secondInstance = axios.create()

Vue.use(VueAxios, {
  first: firstInstance,
  second: secondInstance
})

// available Vue.$http.first and Vue.$http.second

[2018-05-15 16:10] #28 closed

[2018-05-15 16:11] #8 closed

[2018-05-17 23:03] anorborg commented on #25
Has anyone manged to get this working? Or is there an issue with the types?

[2018-05-18 05:16] imcvampire commented on #25
Hi all, have you try the solution in this issue https://github.com/imcvampire/vue-axios/issues/24

[2018-05-18 10:18] anorborg commented on #25
issue #24 fixes the import, but then loses the typing information for `Vue.axios`

[2018-05-31 16:13] evenfrost commented on #25
Is it still not working for you? I have no issues with
[code]
I've got other error with TS definition (#24), [this PR](https://github.com/imcvampire/vue-axios/pull/30) fixes it.

[2018-05-31 16:14] evenfrost commented on #24
https://github.com/imcvampire/vue-axios/pull/30 should fix it (works locally).

[2018-06-01 18:27] #24 closed

[2018-07-05 01:54] bang88 commented on #25
[code]
It worked but I have to comment these lines.

[2018-07-05 05:41] imcvampire commented on #25
Please check https://github.com/imcvampire/vue-axios/releases/tag/2.1.2.

I publish a new version that fixes this issue

[2018-07-05 05:41] #25 closed

[2018-07-28 22:18] ramarivera commented on #25
With version 2.1.2, I'm still getting errors on import :(

I've done the same as olegschtch

I've only just scaffolded the project using @vue/cli.

vue-axios version: 2.1.2
typescript version: 2.9.1 and 2.8.4 (tried both)
vue cli version: 3.0.0-rc.8

What's the right way to import VueAxios then?

Thanks!!

[2018-07-29 05:46] imcvampire commented on #25
@evenfrost can you help me check the error above

[2018-07-29 18:19] ramarivera commented on #25
In case it helps, changing the index.d.ts file to this:

[code]

allows me to use `import VueAxios from 'vue-axios';`

[2018-08-03 23:53] EmmanuelBeziat opened #31 "What's the point of a wrapper?"
Hi!

I was just wondering what's the point of using a vue wrapper for axios? What is the gain over a simple

[code]
Does having it set in the Vue component allow me to do something useful (for example, easily set some globals : https://github.com/axios/axios#global-axios-defaults)?

Thanks :)

[2018-08-04 03:01] imcvampire commented on #31
Hi,

I created this library because, in the past, I need a simple solution to migrate from `vue-resource` to `axios`.

It has a small benefit that it binds `axios` to vue instance so you don't have to import everytime you use `axios`

[2018-08-04 18:32] EmmanuelBeziat commented on #31
Okay, thanks for the tip! :)

[2018-08-04 18:32] #31 closed

[2018-08-05 20:55] Eltargrim commented on #25
I'm using the latest version, 2.1.2 at the time of writing. Which has the updated typings file referenced in this thread. I am not having any issues with the import specifically when using:

`import VueAxios from 'vue-axios';`

But I do not have typings on the Vue instance. Typescript is complaining that the property 'axios' ( or $http ) does not exist on the VueConstructor<Vue> type, and will not

[2018-08-06 01:39] imcvampire commented on #25
Hi all, I have just changed `index.d.js` as @ramarivera suggested. Can anyone check it?

[2018-08-20 15:39] mbale commented on #25
@imcvampire Still misses the part that allows calling axios on global Vue.

[code]

[2018-09-18 14:47] atxy2k opened #32 "How to use this library with vue-decorator-class"
I like this library, I use in almost all my vue projects, but, recent, I start to use typescript with vue.js and vue-decorator-class and vue-property-decorator, and, in each file, I need to do,

`import Vue from 'vue'`

Before, I just needed to do:

`Vue.use(VueAxios, vue)`

And that was all, but, with this methodology, I don't know how to implement vue-axios for use only:

`this.axios.something..

[2018-09-18 15:27] imcvampire commented on #32
Can you provide a minimal reproduction? I don't understand your problem clearly enough!

[2018-09-18 16:12] atxy2k commented on #32
Yes, for example, in a old file I have the next:

[code]

That works fine, now, in component, I have something like this:

[code]

Then, in my new code, I have a vue file like this. (This code works with typescript and vue-property-decorator)
[code]

And my app.ts has the next
[code]

Now, I think, In my vue file, if I do:
[code]
I think that this only will work in current file, how solve it?, do

[2018-09-19 01:08] imcvampire commented on #32
@atxy2k What version of vue-axios are you using?

[2018-09-19 15:07] atxy2k commented on #32
@imcvampire  2.1.1

[2018-10-02 00:48] atxy2k commented on #32
I solve my problem, I took a time because I was bussy, anyway, I solved my problem, it was in my implementation of vue, I was creating one object in these lines:

[code]

I change this, with the next:

I import my libraries in app.ts file with this:
[code]
Then, in my html I have this:
[code]

[2018-12-28 06:26] misland opened #34 "Cannot redefine property: $http"
I got this error when I use this plugin,can anyone explain why?many thanks!!
version:
Vue:2.5.16
Vue-axios:2.1.4

vue-axios.min.js?de48:formatted:18 Uncaught TypeError: Cannot redefine property: $http
    at Function.defineProperties (<anonymous>)
    at o (vue-axios.min.js?de48:formatted:18)
    at Function.Vue.use (vue.esm.js?22f2:4753)
    at eval (main.js?3479:14)
    at Object../src/main.js (

[2018-12-29 04:45] imcvampire commented on #34
Do you use any others plugins

[2019-01-02 00:42] misland commented on #34
I use Element-UI

[2019-01-02 03:10] imcvampire commented on #34
And do you define `Vue/$http` by yourself? Or any plugin does it?

[2019-01-03 01:19] misland commented on #34
I didn't define $http myself,I didn't use other plugin besides ElementUI and axios,so I feel weird for this problem,following is my code:
`import ElementUI from 'element-ui'
Vue.use(ElementUI, {size: 'small'})

import Vueaxios from 'vue-axios'
import axios from 'axios'
Vue.use(Vueaxios,axios)`

[2019-01-05 08:50] imcvampire commented on #34
Can you provide a minimal reproduction?

[2019-03-26 03:17] ktiedt opened #35 "Axios types appear to be wrong: AxiosInstance vs AxiosStatic"
https://github.com/imcvampire/vue-axios/blob/30998f315db5dcfc5ce6867588554ae7ef51dc7a/index.d.ts#L2-L18

In the above code, based on local projects, `AxiosStatic` is the appropriate type here as it provides the static methods, `.all` `.spread` etc...

Updating my local node_modules package appears to fix the problem, but maybe someone is aware of a counter reason why `AxiosInstance` is correct?

[2019-04-12 13:44] johnveloper opened #36 "Why?"
Why use this instead of standard Axios?

[2019-04-12 14:55] imcvampire commented on #36
Hi @johnveloper, please kindly check https://github.com/imcvampire/vue-axios/issues/31

[2019-04-12 14:55] #36 closed

[2019-05-14 23:44] enbermudas opened #37 "Ignore baseURL on request"
Hi! Is there a way to ignore the baseURL in a request? Right now i have a single get request that does not uses the baseURL that I have set and it looks like an awful solution to my problem:

``this.$http.get(`${this.$http.defaults.baseURL.replace('/api', '')}${this.providerCsvUrl}`)``

Thanks in advance!

[2019-05-15 08:31] imcvampire commented on #37
`vue-axios` only wraps `axios` and do not add any new feature, please read the documentation of `axios` for your problem.

BTW, I found a solution that may help you https://stackoverflow.com/questions/54418135/use-different-base-urls-with-central-axios-create

[2019-05-15 08:31] #37 closed

[2019-05-15 14:53] enbermudas commented on #37
@imcvampire I've found a better solution for my problem:

``this.$http.get(this.providerCsvUrl).setBaseURI('/')``

This method overrides the BaseURI and lets me do what i want without the use of that ugly template literal. Thanks anyway!

[2019-06-02 21:41] GreatFireWall opened #38 "How to use ? this.$http this.axios undefined"
![image](https://user-images.githubusercontent.com/4510984/58767707-08d77b80-85c2-11e9-8bc5-68ccbd284d6e.png)

![image](https://user-images.githubusercontent.com/4510984/58767720-31f80c00-85c2-11e9-8e1b-9f58df0e94ef.png)

![image](https://user-images.githubusercontent.com/4510984/58767726-3c1a0a80-85c2-11e9-9afd-d68d574c8a2d.png)

[2019-06-02 21:54] #38 closed

[2019-07-23 15:00] mh-abbassi opened #39 "vuex unknown action type while trying to post data to Django backend."
I am trying to send my vuejs front end data using Vuex and Vue-axios to the backend. I have create a vuex store and vue-axios services But I get an error saying [vuex] unknown action type: addGeneral when I try to pass the data.

This is my vuex folder structure:

    -store
        -modules
            -app
                -mutations.js
                -state.js
            -general.js

[2019-07-23 17:38] imcvampire commented on #39
This isn't an error from my library.

I think it's better if you ask your question in StackOverflow

[2019-07-23 17:38] #39 closed

[2019-07-29 08:33] aranmohyeddin opened #40 "Can you Please add an example in the readme for using axios inside store also?"

[2019-07-30 05:24] imcvampire commented on #40
You can use `Vue.axios` inside store (remember to import `Vue`)

[2019-07-30 05:24] #40 closed

[2019-08-26 09:34] gsaada opened #41 "Works with postman but not with vue-axios"
**Vuejs code:**
[code]

**Postman XHR code**
[code]

receiving:
Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-08-27 11:58] imcvampire commented on #41
It isn't a library problem. Please check https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request#targetText=A%20CORS%20preflight%20request%20is,by%20a%20browser%2C%20when%20needed.

[2019-08-27 11:58] #41 closed

[2019-09-13 14:31] shuliangfu opened #42 "How to send a post request?"
How to send post requests, as well as get and post data?

[2019-09-13 16:57] imcvampire commented on #42
Please kindly check axios docs and my `README.md`

[2019-09-13 16:57] #42 closed

[2019-09-17 02:11] shuliangfu commented on #42
Thank you, I've now understood

[2019-10-30 11:53] Derasm commented on #34
Have you done this to redefine $http:
Vue.prototype.$http = axios
? It comes recommended from here;
https://medium.com/the-vue-point/retiring-vue-resource-871a82880af4

[2019-10-31 06:12] imcvampire commented on #34
@Derasm It's already defined https://github.com/imcvampire/vue-axios/blob/master/src/index.js#L31

[2019-10-31 09:55] misland commented on #34
sorry,I didn't keep following this question now,you all can discuss continually :)

[2019-11-20 06:56] vvrecord commented on #34
Vueresource package is not introduced in main.js, or it is not installed by NPM
maybe check if the vueresource package is installed, and then add the introduction in main.js.

[2019-12-05 07:13] jj89757hhb opened #48 "怎么运行这个工程呢？"

[2020-01-16 13:28] josefsabl opened #49 "Why isn't there a Vue.$http"
It would make much more sense. You also don't do: `Vue.$vuex` but `Vue.$store`. Is there any reason for this? I just tried changing

`Vue.axios = axios;`

to

`Vue.$http = axios;`

in your code and it seems to work.

[2020-01-16 16:20] imcvampire commented on #49
There is already `Vue.$http` on `vue-axios`

[2020-01-16 16:22] imcvampire commented on #49
I added it!

[2020-01-16 16:22] #49 closed

[2020-03-23 14:54] josefsabl commented on #49
Will this ever get to be released? :-)

[2020-07-16 02:24] imcvampire commented on #48
/close

[2020-07-16 02:26] #34 closed

[2020-07-16 02:26] #14 closed

[2020-07-16 02:26] #13 closed

[2020-07-16 02:27] #32 closed

[2020-07-16 02:27] #48 closed

[2020-07-16 02:27] #26 closed

[2020-07-16 02:28] #11 closed

[2020-07-16 02:28] imcvampire commented on #35
@ktiedt Could you provide a Pull Request for this

[2020-09-16 09:12] ThaDaVos commented on #35
I think AxiosInstance may be correct as you can configure all sorts of things on it, like interceptors etc - does the change to `AxiosStatic` mean you cannot anymore?

[2020-09-21 09:53] LrMiLoef opened #50 "Usage with VueJs 3"
I'd like to use vue-axios with Vue3. When initiating app, i'll get an error.
Can you tell me what's the problem here?

[code]

Error:

[code]

[2020-09-21 17:20] imcvampire commented on #50
This plugin mutates `Vue` global var (which is non-mutable in version 3). Besides, VueJS 3 has some breaking changes in public API

[2020-09-24 10:46] wdbacker commented on #50
The new api for adding global properties in Vue.js 3.0: https://v3.vuejs.org/api/application-config.html#globalproperties
[code]

[2020-09-24 11:06] LrMiLoef commented on #50
Thank you for this solution.

[2020-09-30 21:13] acsor opened #54 "Install vue-axios with no module bundler support (e.g. webpack)"
The project README suggests to install this dependency with NPM

[code]

but for the project I'm working on, I'm not allowed to rely on webpack. Under these conditions, can I follow the same procedure as listed in the README for installing `vue-axios` or is there something else I can do? Further, what do you mean when you say the following - what is the `document` you refer to?

[2020-10-01 02:51] xiaofan9 commented on #54
You can try to use the script tag src to introduce, https://unpkg.com/vue-axios@2.1.5/dist/vue-axios.min.js

[2020-10-01 07:29] acsor commented on #54
Yeah, that's what I did just after posting this question. It's probably a question no longer (strictly) related `vue-axios`, but how could I procede if I wanted to serve the library from my Node server instead?

[2020-10-03 04:55] xiaofan9 commented on #54
for node, I recommend using axios instead of vue-axios

[2020-10-06 03:22] imcvampire commented on #50
`vue-axios` `3.0.0` has support for VueJS 3

[2020-10-06 03:22] #50 closed

[2020-10-06 11:36] acsor commented on #54
TL;DR [unpkg](https://unpkg.com/) was what I was looking for.

[2020-10-06 11:36] #54 closed

[2020-10-07 18:35] fmarcoux96 opened #55 "Can't get it to work for some reason"
Hi,

I am setting up a webapp using Vue and Vue-Auth, and it uses VueAxios to make it work.

However, for some reason, I always get:

[code]

Which is super annoying right now. So, what am I doing wrong?

File `app.js` (the rest is just basic components):

[code]

If anyone has an idea, I'm open!

[2020-10-07 19:51] yiv-dev commented on #55
Hi! Same error in my app after vue-axios update... I rolled back to 2.1.4

[2020-10-07 20:50] fmarcoux96 commented on #55
Okay, this seems to have fixed it for now. Still got the vue-auth/router issue.

Think you can help with that? https://github.com/websanova/vue-auth/issues/598

[2020-10-08 04:03] imcvampire commented on #55
What VueJS version do you use? `vue-axios` 3.x only supports VueJS 3.

Please check the support matrix on README

[2020-10-08 06:41] sc0Vu commented on #55
@imcvampire vue 3 had multiple breaking changes, but I think it would be great if vue-axios can backward support. Anyway I had made some change to do this, please have a look of my PR.

[2020-10-08 09:30] imcvampire commented on #55
Closed by https://github.com/imcvampire/vue-axios/pull/56

Thank @sc0Vu for your contribution

[2020-10-08 09:30] #55 closed

[2020-10-10 08:31] xiaofan9 opened #58 "There are several problems with vue-axios"
In the [npm.js](https://www.npmjs.com/package/vue-axios) website, the md document is wrong；

The code provided by [unpkg](https://unpkg.com/vue-axios) is outdated，That is, the code in the dist folder is out of date.This will also cause the vue-axios code introduced using import to be outdated

In vue2 use, An error occurred :
![image](https://user-images.githubusercontent.com/16103130/95650477-872

[2020-10-11 09:52] imcvampire commented on #58
Do you use `vue-axios` 3? Currently, it doesn't support vuejs 2.

[2020-10-11 09:56] imcvampire commented on #58
Ah, the current version in both unpkg and npm doesn't the latest commit. The newest MR causes some problems so I haven't publish a new version.

The README on npm is correct for it's version

[2020-10-11 10:00] imcvampire commented on #58
I'm finding a way to use `rollup` to bundle `semver` with the build file. The latest MR introduces it as the first dependence.

[2020-10-12 01:47] xiaofan9 commented on #58
in

Use vue2. I see that the md document introduction already supports vue2

[2020-10-12 03:05] imcvampire commented on #58
But that version hadn't been build successfully. The md document in npm is correct!

[2020-10-12 03:34] xiaofan9 commented on #58
to understanding, thinks!

[2020-10-12 03:34] #58 closed

[2020-10-13 12:33] avi12 opened #59 "Cannot instantiate VueAxios"
In `main.js`, I have:
[code]
But, I get an error:
[code]

VueAxios version: 3.0.1
Axios version: 0.20.0

[2020-10-13 21:52] WinnersProx opened #60 "IsURLSameOrigin error when testing the api locally"
As stated on the documentation page, i always configure my `main.js` file this way

[code]
However, when trying to hit a local api endpoint (like localhost:8000) it throws the following error and never proceeds the request

`
Uncaught (in promise) TypeError: Cannot read property 'protocol' of undefined
    at isURLSameOrigin
`

It can't be a problem with CORS because when I try to use `axios.get`

[2020-10-14 02:30] imcvampire commented on #59
Please remember that `vue-axios` 3 only supports vuejs 3. The latest version (with backward compatibility) hasn't been published yet

[2020-10-14 02:32] imcvampire commented on #60
I can check https://github.com/axios/axios/issues/632? Is it the same problem?

[2020-10-14 05:03] KokoulinM commented on #59
Do I need to do it?

[2020-10-14 07:18] avi12 commented on #59
That explains it.
So I basically need to install the latest `vue-axios` 2 to fix this problem?

[2020-10-14 07:19] WinnersProx commented on #60
It looks to be the same but looking at [the referenced issue](https://github.com/axios/axios/issues/632), people are kinda giving unproven solutions and still don't provide the cause of this issue. it may also be easier to fix for some people when the cause is provided

[2020-10-14 09:34] imcvampire commented on #60
@WinnersProx Agree! So, can you provide a simple reproduction?

[2020-10-14 09:35] imcvampire commented on #59
@KokoulinM. You're welcome. I'm trying it but no luck yet. You can check the `rollup` branch.

[2020-10-14 09:36] imcvampire commented on #59
@avi12 Yes!

[2020-10-15 09:26] WinnersProx commented on #60
Sorry on this issue, it was actually my bad even if it seems to be a bad user interface

I checked my `.env` and found that my base url was missing a forward slash which URL,  funny enough it couldn't send any request and i didn't know what was going on.

Once again sorry, this issue can be closed @imcvampire

[2020-10-15 14:32] #60 closed

[2020-10-16 03:37] chinesedfan commented on #35
Fixed by #43. And don't worry, because AxiosStatic extends from AxiosInstance. Now it can be closed.

[2020-10-16 03:41] #35 closed

[2020-10-16 14:21] TitanFighter commented on #59
The [matrix](https://github.com/imcvampire/vue-axios#support-matrix) is incorrect - it shows that vue-axios 3 supports Vue v1, v2 and v3.

[2020-10-18 09:03] SergeyNI opened #62 "How write jest tests for async logic using this wrapper?"
I don't understand, how mock axios methods using this wrapper? Can you explain this?

[2020-10-18 18:07] imcvampire commented on #62
IMO, it depends on your test. I think you can mock the `$http` or `axios`

[2020-10-18 18:08] imcvampire commented on #59
No, it's correct. But the backward compatibility code hasn't published yet

[2020-10-20 11:57] MarlonDML commented on #59
The latest version(3.1.1) is available

[2020-10-20 12:03] imcvampire commented on #59
@MarlonDML Yes!

@TitanFighter @avi12 @KokoulinM Can you update to the latest package and try again?

[2020-10-20 12:36] makurtu opened #67 "Cannot read property 'get' of undefined"
Hi!

I have an issue implementing VueAxios on Vue 3 project.

I'm installing this way:

[code]

And then, in my component:

[code]

But it throws the error `Cannot read property 'get' of undefined` when click on button. So maybe there is an error when installing `axios` globally.

Versions:

[code]

[2020-10-20 14:11] TitanFighter commented on #59
@imcvampire it works. Thanks.

[2020-10-20 19:55] avi12 commented on #59
@imcvampire Seems to be working now

[2020-10-20 19:55] #59 closed

[2020-10-23 10:36] xiaoyao316 commented on #67
@makurtu  Do not use `this` in the setup option.

[2020-10-23 12:28] makurtu commented on #67
Ouch! Sorry, this is not my working code, I writed it as example and made a mistake.

Finally I made it works, but I had to read this solution: https://stackoverflow.com/questions/64040286/access-this-root-in-vue-js-3-setup

There is a codesandbox working as expected: https://codesandbox.io/s/icy-river-t7sg0

**Now I have a question:**

Do you know a better aproach? I don't like (re)importing the

[2020-10-26 07:25] altapo opened #71 "Module ../vue/types has no exported member 'App'"
![phpstorm64_BAJ1uCtcX7](https://user-images.githubusercontent.com/837355/97144374-23e1f700-1786-11eb-9158-cee2dacf4102.png)

vue 2.6.12
vue-axios 3.1.3

[2020-10-27 03:39] jpicton opened #72 "NPM audit reports vulnerabilities associated with rollup-babel dependency"
Running an NPM audit against vue-axios 3.1.2 gives the following report:

[code]

I think there's a couple of issues here:

1. rollup-babel has been superseded by rollup-plugin-babel, so you should only required the latter (you currently have dependencies on both)
2. Both rollup-babel and rollup-plugin-babel have been placed under `dependencies`, when I believe they should be `devDependencies`

vu

[2020-10-27 15:11] imcvampire commented on #72
Thanks for the report! Will try to update ASAP!

[2020-10-29 08:03] vincentharrius commented on #71
I had the exact same problem and realized that the latest version of vue-axios doesnt have support for vue 2.*. I uninstalled the latest version and installed `vue-axios@2.1.4`. Hope this solves your problem aswell

[2020-10-30 03:37] altapo commented on #71
I did this earlier, just declared support for version 2.*

[2020-10-30 03:38] altapo commented on #71
I did this earlier, just declared support for version 2

[2020-11-02 09:16] Glandos opened #73 "Incompatible AxiosRequestConfig definition with axios 0.21.0"
Axios 0.21.0 introduced https://github.com/axios/axios/pull/3237 which change the definition of AxiosRequestConfig

Unfortunately, this conflicts with the version 0.20.0 which is used by vue-axios, and if a project depends on both, this can lead to typing errors.

I downgraded to Axios 0.20.0 as a workaround.

[2020-11-11 07:52] RitikPatni opened #74 "How can I use this in Vuex store with Vue 3"
In Vue 2 I was writing all my API calls in Vuex actions using
[code]
But now when I try to use the same I get this error
[code]
I've imported this as suggested in the docs
[code]

[2020-11-11 07:53] RitikPatni opened #75 "How to use this in Vuex Store with Vue 3"
In Vue 2 I was writing all my API calls in Vuex actions using
[code]
But now when I try to use the same I get this error
[code]
I've imported this as suggested in the docs
[code]

[2020-11-11 07:53] RitikPatni commented on #75
Duplicated this by mistake

[2020-11-11 07:53] #75 closed

[2020-11-12 03:35] imcvampire commented on #74
I expect this pkg works like your code. Can you provide a simple reproduction?

[2020-11-12 05:36] RitikPatni commented on #74
@imcvampire Please check
https://codesandbox.io/s/charming-banach-3oxy9?file=/src/store/Login/actions.js

[2020-11-14 23:56] luffynando commented on #74
@RitikPatni in vue 3 use getCurrentInstance

In your code actions.js
[code]

[2020-11-15 00:03] luffynando commented on #67
Another option maybe is using getCurrentInstance.
In vue docs: https://v3.vuejs.org/api/composition-api.html#getcurrentinstance

[code]

[2020-11-16 06:46] #72 closed

[2020-11-16 06:47] #74 closed

[2020-11-17 05:09] RitikPatni commented on #74
@luffynando Now I'm getting
[code]
I've also modified the reproduction [here](https://codesandbox.io/s/vuex-axios-demo-3oxy9?file=/src/store/Login/actions.js) . Can you please check

[2020-11-17 05:15] RitikPatni commented on #74
Thanks @luffynando

[2020-11-18 11:01] RitikPatni commented on #74
@luffynando As per your suggestions I was using getCurrentInstance to use axios in actions. but the problem with that is it can only be used onMount of application so if I want to call an action for form submission or something else I won't be able to do that with getCurrentInstance.

I checked the documentation and all I could found was [this](https://v3.vuejs.org/api/composition-api.html#getcurr

[2020-11-18 15:46] luffynando commented on #74
@RitikPatni can you upload code example?
In the store it should work fine because it works when the root instance has already been mounted

[2020-11-18 16:43] RitikPatni commented on #74
@luffynando https://codesandbox.io/s/vuex-axios-demo-3oxy9?file=/src/App.vue
I've added a button that dispatches the action where the API was added. The same code works when it is used on mounted. You can uncomment the code in mounted in case you want to test that.

[2020-11-20 10:15] qqilihq commented on #71
Thanks, same issue here. Downgrading worked.

Probably I’m misreading the compatibility matrix? 🤔

![image](https://user-images.githubusercontent.com/2172260/99788662-b07f9b00-2b21-11eb-9099-7988f914017a.png)

[2020-11-20 23:14] luffynando commented on #74
it works fine if you use composition api as explained, but in the code you send you use options api, then it doesn't work like that anymore. But with current options api, you can inyect in root file.
In main.js
[code]
in actions.js
[code]

[2020-11-21 03:28] imcvampire commented on #71
Ops .... The type definition file only works for vuejs 3. Can anyone know how to make it supports both 2 and 3?

[2020-11-21 11:36] makurtu commented on #67
Well, maybe this issue can be closed.

I finally used an `export` on whole `axios` lib. This implementation gives me a full control on `axios` lib on all components, so I can set an `Auth bearer token` on login component and can read `auth state` on all components. I can also set a `apiBaseUrl` on `axios instance` and all calls from any component will start by this configuration.

In conclusion, I

[2020-11-21 11:36] #67 closed

[2020-11-23 02:35] wcy95 opened #77 "How to use it By CDN"
It's about 10KB in size. I want to use it by introducing CDN.

[2020-11-23 04:34] RitikPatni commented on #74
Thanks @luffynando for the help.

[2020-11-23 04:42] imcvampire commented on #77
You can use a free solution ```<script src="https://cdn.jsdelivr.net/npm/vue-axios@3.2.0/dist/vue-axios.es5.min.js"></script>```

[2020-11-23 04:45] imcvampire commented on #74
I'm thinking about adding
[code]

to `vue-axios`

[2020-11-30 03:43] xiaofan9 commented on #71
Try to create an .eslintignore file with the following content:
![image](https://user-images.githubusercontent.com/16103130/100566520-3d380f00-3301-11eb-814b-5444bd0f4fa3.png)

[2020-11-30 04:44] imcvampire commented on #71
But it will make the definition file doesn't work for vuejs 3, won't it?

[2020-11-30 07:04] xiaofan9 commented on #71
I am going to try

[2020-12-09 16:04] #71 closed

[2020-12-21 20:36] msg7086 opened #82 "Support Vue 3 with VueAxios via CDN"
How to reproduce:

[code]

Error message:

[code]

Vue.use has been removed in Vue 3.

[2021-01-05 08:48] Ineth opened #85 "Axios vulnerability"
During our vulnerability check we noticed a high vulnerability is present in the axios version used here.

**Detailed info**: [https://npmjs.com/advisories/1594](https://npmjs.com/advisories/1594)

**Fix**: Upgrade axios to 0.21.1 or later.

[2021-01-05 12:56] Ineth commented on #85
It seems another package in our project was triggering this message.
Sorry for the incorrect issue.

[2021-01-05 12:56] #85 closed

[2021-01-16 04:27] #77 closed

[2021-01-16 04:28] #73 closed

[2021-01-16 04:28] #62 closed

[2021-01-25 08:41] baradhili opened #86 "vue-axios.es5.js.map: error: Expected end of file"
noticed this in 3.2.2
checking the file with a json linter also got the same error so its not just vite :)

found "AAQyE"
    1 │ ...window.axios);\n  }\n})();\n"]}AAQyE,UAC1DF,OAAOE,QAAU4V,EACS,mBAA...
      ╵

[2021-01-27 06:35] nbeezander commented on #86
same

[2021-01-28 12:33] vesper8 commented on #86
Same error, can't use vitejs as a result. Still happening on 3.2.2

This is the last ~hundred characters of `vue-axios.es5.js.map`

[code]

@imcvampire could you please look into this?

Many thanks

[2021-01-28 12:43] vesper8 commented on #86
Following up. I noticed that v3 has dropped support for vue2.. and I'm still using vue 2 and had been using vue-axios v3.. so.. I guess they didn't completely drop support because it was still working.. but in any case I reverted to version 2.1.5 and I no longer have this issue

[2021-01-28 13:32] baradhili commented on #86
I found if I slice off those characters everything works fine...

[2021-01-28 14:43] imcvampire commented on #86
I haven't found what causes these characters. Any support is welcome!

@vesper8 v3 still supports vue2!

[2021-01-28 14:55] imcvampire commented on #86
I have released a new version named 3.2.3. Please kindly update and inform whether the error has gone.

[2021-02-01 00:14] baradhili commented on #86
No still there I'm afraid

[2021-02-01 02:50] imcvampire commented on #86
I have disabled source map in 3.2.4, so you can use the package now.

[2021-02-04 17:38] toshkoevo opened #87 "Error: You have to install axios"
Ionic 5 + VueJS 3 app, I have followed the installation guide:
[code]
And then this is my main.js:
[code]

An excerpt from my package.json:
[code]

But the app fails to load even with the error "You have to install axios".

[2021-02-05 02:23] imcvampire commented on #87
You have to use `use(VueAxios, axios)` instead of `use(VueAxios)`

[2021-02-05 02:23] #87 closed

[2021-02-07 10:08] toshkoevo commented on #87
I am stupid, thank you.

[2021-03-29 18:55] djom202 commented on #82
Hi, happen the same with npm.

![image](https://user-images.githubusercontent.com/1834808/112885438-60e44980-9096-11eb-8cb1-adc539c6f5e8.png)

[2021-03-30 03:23] imcvampire commented on #82
@djom202 seems like it isn't `vue-axios` bug. Could you provide a simple reproduction?

[2021-04-13 05:02] djom202 commented on #82
Hi @imcvampire, Also I'm trying to use in vue v2 and it's happing the same, I'm just importing the dependencies and trying to use it.

[code]

[code]

![image](https://user-images.githubusercontent.com/1834808/114499283-5fb13180-9beb-11eb-84ca-dece2eaec2eb.png)

[2021-04-13 09:00] agoni1212 opened #88 "How to use this in Vuex Store with Vue 3 script-setup & TypeScript"
How to use this in Vuex Store with Vue 3 script-setup & TypeScript

[2021-04-14 01:44] imcvampire commented on #88
Just import `Vue` and use `Vue.axios` for example.

[2021-04-14 02:12] agoni1212 commented on #88
`<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
import Vue from 'vue'

const switch = () : void => {
  Vue.axios.......
}
</script>`

Error :
Property 'axios' does not exist

when i remove script-setup sugar ,it works fine

[2021-04-14 15:26] imcvampire commented on #88
With typescript, maybe you have to write a type defination file

[2021-04-15 11:03] agoni1212 commented on #88
any plan to support?

[2021-04-21 03:18] vivimee opened #89 "Unexpected token ':'"
vue ^2.5.2
vue-axios ^3.2.4
axios ^0.21.1

![image](https://user-images.githubusercontent.com/45531311/115491848-4e26f400-a293-11eb-8c0f-6a9383c80ee4.png)

[2021-04-21 05:29] imcvampire commented on #89
Could you provide a reproduction?

[2021-04-24 09:27] lancerXXXX opened #90 "how to set responsetype like this"
![image](https://user-images.githubusercontent.com/42160297/115954227-67919f80-a522-11eb-9ba8-4e3ba3317f14.png)

[2021-04-24 09:38] #90 closed

[2021-05-01 08:18] carstenhag commented on #88
I don't know how to create that type definition, can you please add it? :/

[2021-05-01 13:15] imcvampire commented on #88
There is already in the repo https://github.com/imcvampire/vue-axios/blob/master/index.d.ts. Do you have any special setup that doesn't load type definition?

[2021-05-11 19:10] gabrielthomasjacobs commented on #88
I don't believe that you can import Vue from vue, depending on the way vue is being used. See [this stack overflow](https://stackoverflow.com/a/64653481) for details.

What has worked for me is simply importing 'axios' in the vue file you want to do a rest call in and then you can do axios.get()

vue-axios is needed in the main.ts for the createApp section as you can't use axios directly as a plug

[2021-05-13 02:54] #89 closed

[2021-05-13 02:54] #86 closed

[2021-05-21 19:11] gregbaker commented on #82
I am having the same problem as @msg7086. The provided HTML causes the given exception. Same with vue-axios 3.2.4 and when the files are linked with a `<script>` directly from a local copy.

[2021-05-22 15:56] imcvampire commented on #82
Is this what are you using? https://jsfiddle.net/imcvampire/t8a0yjbp/3/

[2021-05-22 17:18] gregbaker commented on #82
Yes, that reproduces the problem I'm having.

[2021-05-22 18:26] imcvampire commented on #82
Maybe, Vue doesn't export `Vue` as a global var anymore.

[2021-05-22 19:16] gregbaker commented on #82
It does: `Vue.createApp` is still the way to create the application object.

The instructions for using a plugin have changed between [version 2 instructions](https://vuejs.org/v2/guide/plugins.html#Using-a-Plugin) and [version 3 instructions](https://v3.vuejs.org/guide/plugins.html#writing-a-plugin). Instead of `Vue.use(MyPlugin)`, the instruction is `app.use(MyPlugin, optionalArguments)`.

I thi

[2021-05-23 03:13] imcvampire commented on #82
@gregbaker Nice, thank you! If you're okay, feel free to create a merge request.

[2021-05-23 07:49] #82 closed

[2021-07-01 03:06] lexmarionB opened #92 "conflict with vue-tables-2"
If used together with vue-tables-2, an error "data.json is not a function" will appear.

[2021-07-01 10:05] imcvampire commented on #92
Please provide a minimal reproduction

[2021-07-20 12:45] Alanscut commented on #88
@agoni1212 in Vue 3, global `Vue` is no longer a constructor, so `Vue` is not available, and in `setup` function `this` is also not availble, you should `provide` `axios` first in `main.ts`, then inject it to `setup`, please see #94

[code]

[code]

[2021-07-25 13:19] mrcodekiddie commented on #31
😌

[2021-08-02 08:30] Sphinxone opened #102 ""npm run build" reports this error"
When i build my vue project,i got this error.

WARNING in ./src/main.js
23:8-16 "export 'default' (imported as 'VueAxios') was not found in 'vue-axios'
 @ ./src/main.js

ERROR in static/js/vendor.334ceea9e3e48015f1fc.js from UglifyJs
Unexpected token name «NODE_ENV», expected punc «,» [./node_modules/vue-axios/dist/vue-axios.es5.js:1,3159][static/js/vendor.334ceea9e3e48015f1fc.js:
35428,173]

  Bu

[2021-08-02 13:01] Alanscut commented on #102
hi @Sphinxone, could you provide your vue and vue-axios version, or link a simple demo? I tested with vue 2/3 + vue-aixos@3.2.5, and can't reproduce above error.

[2021-08-03 10:46] Sphinxone commented on #102
thanks for your reply!

my two project all report this problem.

my vue and vue-axios is following:
"vue-axios": "^3.2.4"
"vue": "^2.5.2"
"axios": "^0.21.1"

i try to use vue-axios@3.2.5 and report same problem

[2021-08-04 07:32] Alanscut commented on #102
@Sphinxone Please try removing `^` from `"vue-axios": "^3.2.4"`, because `^` symbol  indicates that the latest version of the current minor version is downloaded, so at last you are still using `vue-axios@3.2.5`.

the build format changed to `umd` in `v3.2.5`, which may cause above error. could you provide your build.js script?

[2021-08-04 12:15] Alanscut commented on #102
vue-axios@3.2.5 also support  Vue 2, please see my demo: https://github.com/Alanscut/vue-axios-test

serve the `server/app.js` first, then run the vue project with `npm run serve`, you will find the vue 2 works well with vue-axios@3.2.5.

[2021-08-26 13:12] hotrungnhan opened #104 "weight full vue report ?"
![image](https://user-images.githubusercontent.com/40029631/130968271-cc752b84-24a7-4e0b-aa3d-80221cbf3f57.png)
the generate report of vue tell me that vue axios it so weightful for this kind of wrapper, I guess that you can build esm bundle to retrive much smaller size.

[2021-08-31 15:38] imcvampire commented on #104
@hotrungnhan Agree! Could you have any time to help me with it?

[2021-09-05 00:23] hotrungnhan commented on #104
Ok , I'll take this

[2021-09-05 16:36] hotrungnhan commented on #88
have u try getCurrentInstance.appcontext.app.axios ?

[2021-09-06 08:09] hotrungnhan commented on #104
![image](https://user-images.githubusercontent.com/40029631/132182892-2a983068-9377-4aeb-b651-9aa3893ee88d.png)
Now it just cost 1 kb  #[105](https://github.com/imcvampire/vue-axios/pull/105)

[2021-09-07 22:43] hotrungnhan commented on #104
By some unknown reason the esm bundle was't built when push to npm , could u check it ?

[2021-09-07 23:12] imcvampire commented on #104
Seems like there is an error with your build script
<img width="1494" alt="Screenshot 2021-09-08 at 2 11 50 am" src="https://user-images.githubusercontent.com/9426721/132421789-2b4ebb3d-5912-4e9e-9570-1f6070f634d0.png">

[2021-09-07 23:18] hotrungnhan commented on #104
it cause by uglify package. i dont know why last time it still properly , now it been change to gulp-uglify-es which is 100% es6 support

[2021-09-08 08:21] Theofilos-Chamalis opened #107 "Upgrade from v3.2.5 to v3.3.4 results in "Module not found error" on Vue2"
After upgrading vue-axios from v3.2.5 to v3.3.4, running my Vue2 project on dev mode produces the following error:

[code]

My main.js file contains the following to register vue-axios:

[code]

I'd like also to mention that axios is on v0.21.4

Hope this helps.

[2021-09-08 08:26] maddie opened #108 "Unable to import package when running `yarn dev` with v3.3.4"
When running `yarn dev` with v3.3.4, error occurs:

[code]

Upon inspection, the `package.json` in `node_modules/vue-axios` defines `dist/vue-axios.esm.min.js` as main, whereas only `dist/vue-axios.common.min.js` is available in the package.

![image](https://user-images.githubusercontent.com/221872/132474117-9bc4f3f5-3518-48cb-aecf-9b6265f75790.png)

[2021-09-08 11:16] imcvampire commented on #108
There is a problem introduced by the new build script. We are fixing it.

[2021-09-08 11:16] #108 closed

[2021-09-08 11:17] imcvampire commented on #107
There is a problem introduced by the new build script. We are fixing it.

[2021-09-08 11:17] #107 closed

[2021-09-08 11:24] imcvampire commented on #108
Please try the latest version - 3.3.6.

[2021-09-08 11:24] imcvampire commented on #107
Please try the latest version - 3.3.6.

[2021-09-08 11:37] Theofilos-Chamalis commented on #107
The latest version v3.3.6 has fixed the issue

[2021-09-09 03:39] shilik opened #109 "Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax"
`***** Fatal JavaScript exception - application has been terminated. *****
NativeScript encountered a fatal error: Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead: ./node_modules/vue-axios/dist/vue-axios.esm.min.js
at
set(file: app/webpack:/douyou/webpack/runtime/harmony module decorator:7:0
at ./node_modules/vue-axios/dist/vue-axios.esm.min.js

[2021-09-09 07:30] hotrungnhan commented on #109
How you import vue axios ?

[2021-09-09 07:54] shilik commented on #109
`import VueAxios from "vue-axios";
import axios from "axios";

Vue.use(axios,VueAxios);
`

[2021-09-09 07:56] hotrungnhan commented on #109
that should be Vue.use(VueAxios,axios) instead.

[2021-09-09 08:01] shilik commented on #109
Thanks for the suggestion, but got the same error even changed the code order to Vue.use(VueAxios,axios)

`(CoreFoundation) *** Terminating app due to uncaught exception 'NativeScript encountered a fatal error: Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead: ./node_modules/vue-axios/dist/vue-axios.esm.min.js
at
set(file: app/webpack:/douyou/we

[2021-09-09 08:16] shilik commented on #109
@hotrungnhan
Finally, I got the problem solved!
The import method I used that worked previously, doesn't work now.
`import VueAxios from "vue-axios"`
While an alternative way you suggested worked like a charm.
`const VueAxios =require("vue-axios/dist/vue-axios.common.min)
`

Not sure, what is wrong with the original import method.

[2021-09-09 08:22] hotrungnhan commented on #109
It cause by webpack config of native script because the implement have both "module.exports" and "export default".

[2021-09-09 08:28] shilik commented on #109
@hotrungnhan
Thanks for the description for possible.
You are right, I just upgraded @nativescript/webpack from 5.0.0-rc.8  to formal release of 5.0.0.
But vue-axios is the only plugin that yielded the errors after the upgrade.

[2021-09-09 21:39] imcvampire commented on #109
@hotrungnhan Should we set the default entry to `.common.js` to make sure that there is no breaking change?

[2021-09-10 01:09] hotrungnhan commented on #109
This in index.js cause the error for esm.
[code]

[2021-09-10 07:02] imcvampire commented on #109
@hotrungnhan So what is your suggestion?

[2021-09-16 03:48] Alanscut commented on #109
Hi @shilik, could you provide your webpeck config and import way? I can't reproduce the error with vue-cli project. And your fainal solution is to use `const VueAxios =require("vue-axios/dist/vue-axios.common.min)`?

[2021-09-16 04:04] shilik commented on #109
Hi @Alanscut
Here is the setting of my webpack.config.js
 `const webpack = require("@nativescript/webpack");

module.exports = (env) => {
	webpack.init(env);

	// Learn how to customize:
	// https://docs.nativescript.org/webpack

    webpack.chainWebpack((config) => {
    config.set('externalsPresets', {
    node: false
         })
	config.resolve.fallback = config.resolve.fallback || {};
    //co

[2021-09-16 08:32] Alanscut commented on #109
thanks your reply! It seems to relate with the export way of vue-axios,  referred to https://github.com/babel/babel/issues/12731 , adding `sourceType: "unambiguous"` to `babel.config.js` may fix this issue:
[code]

[2021-09-16 08:42] shilik commented on #109
Hi, @Alanscut Thanks for the advisement. I have tried  `sourceType: "unambiguous"` before, but got the same result. The only one that works for me is   `const VueAxios =require("vue-axios/dist/vue-axios.common.min")` and `import VueAxios from "vue-axios/dist/vue-axios.common.min"`

[2021-09-16 21:17] #104 closed

[2021-09-16 21:18] imcvampire commented on #104
Fixed by #106 #105

[2021-09-23 06:24] amandiobm opened #111 "It's possible to use 2 instances?"
Hey all,

Was reading through old issues and I found these:
 - #28
 - #8

Both are closed but none of those methods works as suggested.

There is a way to have 2 instances of this?

Thanks.

[2021-09-23 07:59] imcvampire commented on #111
Have you tried this code?
[code]

[2021-09-30 21:02] #111 closed

[2021-09-30 21:03] imcvampire opened #112 "Migrate to Typescript"
Convert the current code to Typescript could help to solve some problems with type definition

[2021-09-30 21:03] #92 closed

[2021-09-30 21:03] #102 closed

[2021-09-30 21:04] #88 closed

[2021-10-04 18:11] imcvampire opened #114 "Support multiple axios instances"
We need an official way to support multiple axios instances for both JS and TS.

[2021-11-04 19:46] #114 closed

[2021-11-21 00:23] allestaire opened #119 "Injecting returns a promise and calling api wont work"
Upon checking the API, it returns promise then when I tried to call api it does not work, like there are no network listed on console
after injecting, I tried to console the axios variable but got this response, dont know what is this means
![image](https://user-images.githubusercontent.com/68372409/142744972-485390ee-c7e1-4764-9b00-ce7591f31d57.png)

[code]

Axios configuration
[code]

Got it wor

[2021-11-21 00:47] #119 closed

[2021-12-05 18:35] KiwiChris-xx commented on #74
when trying to use with @luffynando example within modules I get undefined
store moduleName TypeError: Cannot read properties of undefined (reading 'axios')

any thoughts on using axios within modules?

[2021-12-10 21:02] Kamsou commented on #87
@toshkoevo I use axios with Ionic 5 / Vue, everything works fine locally and on the xcode simulator, but when I test the app on Testflight it does not work.
Didn't you have any problems on your side?

[2022-01-18 15:26] ATLANT-Z opened #122 "Error due to working with multiple components"
If you use several components, and pass for each VueAxios to the use method, it will only work in the first component, in the rest axios will be undefined

[code]

[2022-01-19 08:11] imcvampire commented on #122
Not sure why do you need to `createApp` multiple times. Could you provide a minimal reproduction?

[2022-01-19 10:10] ATLANT-Z commented on #122
I use multiple VUE components in different places for different ids or classes.
This is necessary so that part of the content is loaded statically for SEO, and part is a VUE component that replaces the static after the script is executed, or supplements it.

That's my `main.js `

[code]

It doesn't matter what the component is, even if it's just 2 empty components, then in the first `this.axios` w

[2022-01-20 10:05] imcvampire commented on #122
Maybe because of this check https://github.com/imcvampire/vue-axios/blob/master/src/index.js#L7 🤔

[2022-01-20 10:51] ATLANT-Z commented on #122
Most likely!
The check is good, but only if the `installed `field refers not to the plugin, but to the object for which the plugin is being installed.

Smth like this
[code]

[2022-02-07 19:13] #122 closed

[2022-02-09 20:20] imcvampire commented on #109
Hi @Alanscut @shilik, have you tried the latest version? Has the problem been fixed?

[2022-03-08 05:09] vijayendra05 opened #130 "dummy issue"

[2022-03-08 05:09] #130 closed

[2022-07-28 03:12] krislee opened #138 "How do I test VueAxios with jest?"
If I used the typical `axios` library, I'd normally mock by doing `jest.mock('axios', () => jest.fn())`. How do I mock this library?

[2022-07-30 18:02] imcvampire commented on #138
You can mock the object that you use directly.

For ex, if you use `Vue.axios`, you can mock it.

[2022-07-30 18:02] #138 closed

[2022-10-12 12:10] Blitheness opened #143 "Confusing table in README.md"
Can this be made more explicit please? It seems unclear which versions are for which product.

![image](https://user-images.githubusercontent.com/19779808/195338991-e5754d9b-b3f9-401b-877d-f47676567ac3.png)

[2022-10-12 21:19] imcvampire commented on #143
Do you have any suggestions?

[2022-10-12 21:22] imcvampire commented on #143
https://github.com/imcvampire/vue-axios/pull/144

[2022-10-13 00:02] Blitheness commented on #143
You could maybe drop v1 from that table, but there is still widespread usage of Vue 2.

Perhaps something like this?

| VueAxios v.: | 1.x | 2.x | 3.x |
|--------------|-----|-----|-----|
| Vue 1.x      | ✅   | ✅   | ✅   |
| Vue 2.x      | ✅   | ✅   | ✅   |
| Vue 3.x      | ❌   | ❌   | ✅   |

| VueAxios v.: | 2.x | 3.x |
|--------------|-----|-----|
| Vue 2.x      | ✅   | ✅   |
| Vue 3.x      | ❌

[2022-10-13 07:18] imcvampire commented on #143
Doesn't vue-axios v3 support vue v2 and v3? I don't think there is anyone who still need to use vue-axios v2 if they start from scratch now

[2022-10-20 22:15] #143 closed

[2022-10-24 12:32] lwiklander opened #145 "vue-axios 3.5 does not support vue 2"
Vue 2 support was lost in this commit: https://github.com/imcvampire/vue-axios/commit/a15ab08523eaaeb29a3b487fe5c1fe5036363f1a

Is this correct or unintentional?

[2022-10-27 17:13] vikrambiwal opened #146 "axios does not call catch block when 422 error occurs it always call then block"
[code]

[2022-10-27 20:02] imcvampire commented on #146
Please raise an issue in https://github.com/axios/axios as this pkg is just a wrapper for vuejs

[2022-10-27 20:02] #146 closed

[2022-10-27 20:05] #145 closed

[2022-10-27 20:05] imcvampire commented on #145
Sorry. It was my bad when updating the package.json file

[2022-11-02 14:14] Savuelo opened #148 "Axios to 1.0.0 update problem"
The recent package update to 3.5.0 caused a problem in my copier (https://copier.readthedocs.io/en/stable/) managed projects.
I cannot update the project because of the dependency error. Copier tries to install the historic dependencies to track the changes but it fails due to version missmatch. I have declared that I require vue axios in version `vue-axios@"^3.4.1"`, and also an axios `axios@0.27

[2022-11-02 14:40] struginskij commented on #148
Same here, plz send help

[2022-11-03 06:57] Savuelo commented on #148
FYI, it's not problem with npm/node, deleting `node_modules` and/or `package-lock.json` does not solve the issue.

[2022-11-04 10:23] akucinskii commented on #148
我也有这个问题

[2022-11-04 15:55] imcvampire commented on #148
What is your `package.json`? Seems like you add an entry for `axios` there, which requires `^0.27.2`. `vue-axios` wants `axios@^1.0.0`. As there is no version to be compatible with both `^0.27.2` and `^1.0.0`, `npm` throws that error. My suggestion is you run `npm install axios@^1.0.0` (or change `package.json`) manually.

[2022-11-04 16:11] struginskij commented on #148
It would be too easy. I've got the same situation as Savusiemano, I am not able to modify `package.json` at all.

[2022-11-04 16:50] imcvampire commented on #148
I think I can change `vue-axios` to any `axios` version

[2022-11-04 16:52] Savuelo commented on #148
I would be grateful, I hope this helps

[2022-11-04 17:59] imcvampire commented on #148
https://github.com/imcvampire/vue-axios/releases/tag/3.5.2 should resolve this problem!

[2022-11-04 17:59] #148 closed